<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.kyawhut.atsycast"
    tools:ignore="ImpliedTouchscreenHardware,MissingLeanbackSupport">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <application
        android:name=".ATSYCast"
        android:allowBackup="false"
        android:banner="@drawable/app_banner"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:logo="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/BaseTvTheme"
        android:usesCleartextTraffic="true"
        tools:targetApi="m">

        <activity
            android:name=".ui.drivetest.DriveTestActivity"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/BaseTvTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.tvconfirm.TvConfirmActivity"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/BaseTvTheme" />

        <activity
            android:name=".ui.home.HomeActivity"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/BaseTvTheme" />

        <activity
            android:name=".ui.update.UpdateActivity"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/BaseTvTheme" />

        <activity
            android:name=".ui.setting.SettingActivity"
            android:label="Setting"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/TvSetting" />

        <service
            android:name=".utils.services.DownloaderService"
            android:exported="false" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.update_provider"
            android:exported="false"
            android:grantUriPermissions="true"
            tools:replace="android:authorities">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_provider_path"
                tools:replace="android:resource" />
        </provider>
    </application>

</manifest>
