<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kyawhtut.atsycast.telegram">

    <application>
        <activity
            android:name=".ui.home.TelegramScreen"
            android:theme="@style/BaseTvTheme" />

        <activity
            android:name=".ui.chatdetail.ChatDetailScreen"
            android:theme="@style/BaseTvTheme" />
    </application>

</manifest>
