<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kyawhut.atsycast.zcm">

    <application>

        <activity
            android:name=".ui.home.HomeActivity"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/BaseTvTheme" />

        <activity
            android:name=".ui.detail.DetailActivity"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/BaseTvTheme" />

        <activity
            android:name=".ui.source.VideoSourceActivity"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/BaseTvTheme" />

        <activity
            android:name=".ui.player.PlayerActivity"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/BaseTvTheme" />

        <activity
            android:name=".ui.search.SearchActivity"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/BaseTvTheme" />

    </application>

</manifest>
